@use '../abstracts/variables' as *;

.float{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color:white;
    fill: white;
    background-color:black;
    position:fixed;
    right:20px;
    bottom:20px;
    padding:12px;
}
.floating-button{
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    
    button{
        border: none;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 1rem;

    }
}