@use '../abstracts/variables' as *;

.terms{
    padding-top: 10px;
    text-align: center;
    h1{
        padding-bottom:10px;
    }
}

.terms-screen{
    padding: 0% 5%;
    padding-bottom: 30px;
}

.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
    font-style: italic;
}
.bold-underline{
    font-weight: bold;
    text-decoration: underline;
}
.bold-italic{
    font-weight: bold;
    font-style: italic;
}
.alpha-list{
    list-style-type: lower-alpha;
}
.roman-list{
    list-style-type: lower-roman;
}
.bold-italic-underline{
    font-weight:bold;
    text-decoration: underline;
    font-style: italic;
}