@use '../abstracts/variables';

.verify-age{
    text-align: center;
    padding: 15px;
    .header{
        font-size: xxx-large;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .twenty-one{
        font-size: xxx-large;
        margin-top: 30px;
    }
    .verify-age-icon{
        margin-bottom: 30px;
    }
}